/*this is my css file*/
@import "color.css";


h1{
  font-size: var(--font-size-xxl);
}

body
{
  background-color: var(--black-000);
  margin: 0;
}


#logo{
  position: absolute;
  width: 86px;
  height: 86px;
  top: 0px;
}
#logo:hover
{
  transform: rotate(90deg);
  transition-duration: 0.7s;
}

/* We don't want any links to be underlined. Let's remove that globally */
a {
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: var(--black-000);
  display: flex;
  /* let's align the items so everything is nice and centered */
  align-items: center;
}

.navbar ul {
 /* Let's reset the margin and padding of the list so it's is flush. */
  margin: 0;
  padding: 0;
  /* Let's remove the bullet points */
  list-style-type:none;
  /* display the list flex and align the items centered */
  display: flex;
  align-items:center;
}


.navbar ul{
  width: auto;
  margin-left: auto;
  margin-right: auto
}
.navbar ul li a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-xl);
  color: var(--white-000);
  padding: 24px;
  /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height 
      of the container.
  */
  display: block;
}

/* When a user hovers or focuses a link it change the color */
.navbar ul a:hover,
.navbar ul a:focus {
  color: var(--red-800);
  text-decoration:underline;
}

/*permet de cacher les liens de la navbar*/

.navbar .icon {
  display: block;
}
.menu_button{
  display: none;
  position: absolute;
  background: none;
  border: none;
  top: 24px;
  right: 10px;
}


@media screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }
  .menu_button {
    display: block;
  }
  .menu_button:focus {
    background-color: red;
  }
}
@media screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
  }
  .menu_button {
    display: none;
  }
}

/*portfolio par*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  font-size: var(--font-size-md);
  align-self: center;
  text-align: center;
}

.responsive_image{
  height: 100%;
  width: 100%;
}

.circle_image{
  overflow:hidden;
  border-radius: 50%;
}

.titre{
  color: var(--green-400);
}

.dot_list{
  color: var(--purple-900);
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}

.inter_line{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}


.cv_button{
  background: none;
  color: var(--purple-900);
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-xl);
}

