/*this is my css file*/
@import "color.css";

/*
color text : #007fff
color logo : #10e3cd
color download : #11dfa2
*/

body
{
  background-color: var(--black-000);
  margin: 0;
}

h1{
  font-size: var(--font-size-xxl);
}

#logo{
  position: absolute;
  width: 86px;
  height: 86px;
  top: 0px;
}
#logo:hover
{
  transform: rotate(90deg);
  transition-duration: 0.7s;
}

/* We don't want any links to be underlined. Let's remove that globally */
a {
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: var(--black-000);
  display: flex;
  /* let's align the items so everything is nice and centered */
  align-items: center;
}

.navbar ul {
 /* Let's reset the margin and padding of the list so it's is flush. */
  margin: 0;
  padding: 0;
  /* Let's remove the bullet points */
  list-style-type:none;
  /* display the list flex and align the items centered */
  display: flex;
  align-items:center;
}


.navbar ul{
  width: auto;
  margin-left: auto;
  margin-right: auto
}
.navbar ul li a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-xl);
  color: #3399FF;
  padding: 24px;
  /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height 
      of the container.
  */
  display: block;
}

/* When a user hovers or focuses a link it change the color */
.navbar ul a:hover,
.navbar ul a:focus {
  color: var(--red-800);
  text-decoration:underline;
}

/*permet de cacher les liens de la navbar*/

.navbar .icon {
  display: block;
}
.menu_button{
  display: none;
  position: absolute;
  background: none;
  border: none;
  top: 24px;
  right: 10px;
}


@media screen and (max-width: 600px) {
  .navbar ul {
    visibility: hidden;
  }
  .menu_button {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
    visibility: visible;
  }
  .menu_button {
    display: none;
  }
}

/*portfolio par*/

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  font-size: var(--font-size-md);
  align-self: center;
  text-align: center;
}

.multi-column {
  max-width: 25%;
  flex: 20%;
  padding: 10px;
  font-size: var(--font-size-md);
  align-self: center;
  text-align: center;
}

.responsive_image{
  width: 100%;
}

.accueil_image{
  width: 80%;
}

.accueil_image:hover{
  width: 90%;
  transition: all 0.5s ease-in-out;
}

.circle_image{
  overflow:hidden;
  border-radius: 50%;
}

.titre{
  color: #3399FF;
  font-family: 'Kanit', sans-serif;
}

.dot_list{
  color: var(--purple-900);
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}

.inter_line{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}


.cv_button{
  background: none;
  color: var(--purple-900);
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-xl);
}

h2{
  color: #3399FF;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: var(--font-size-xl);
  margin: 0;
}

hr{
  margin: 10px;
}

.scale-on-load{animation: scale-on-load 0.4s ease-in-out both;}

.scale-right-down:hover{animation: scale-right-down 0.4s ease-in-out both;}
.scale-left-down:hover{animation: scale-left-down 0.4s ease-in-out both;}
.scale-left-up:hover{animation: scale-left-up 0.4s ease-in-out both;}
.scale-right-up:hover{animation: scale-right-up 0.4s ease-in-out both;}


.scale-down:hover{animation: scale-down 0.4s ease-in-out both;}
.scale-left:hover{animation: scale-left 0.4s ease-in-out both;}
.scale-up:hover{animation: scale-up 0.4s ease-in-out both;}
.scale-right:hover{animation: scale-right 0.4s ease-in-out both;} 


@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .multi-column {
    max-width: none;
    flex: 95%;
    padding: 10px;
    font-size: var(--font-size-md);
    align-self: center;
    text-align: center;
  }

  .column {
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-md);
    align-self: center;
    text-align: center;
    display: inline;
  }

  .scale-on-load,
  .scale-right-down:hover,
  .scale-left-down:hover,
  .scale-left-up:hover,
  .scale-right-up:hover,
  .scale-down:hover,
  .scale-left:hover,
  .scale-up:hover,
  .scale-right:hover{animation: none;}

}

@keyframes scale-on-load {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-right-down {
  0% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateX(16.5%) translateY(16.5%);
  }
}
@keyframes scale-left-down {
  0% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateX(-16.5%) translateY(16.5%);
  }
}
@keyframes scale-left-up {
  0% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateX(-16.5%) translateY(-16.5%);
  }
}
@keyframes scale-right-up {
  0% {
    transform: scale(1) translateX(0%) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateX(16.5%) translateY(-16.5%);
  }
}
@keyframes scale-down {
  0% {
    transform: scale(1) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateY(16.5%);
  }
}
@keyframes scale-left {
  0% {
    transform: scale(1) translateX(0%);
  }
  100% {
    transform: scale(1.5) translateX(-16.5%);
  }
}
@keyframes scale-up {
  0% {
    transform: scale(1) translateY(0%);
  }
  100% {
    transform: scale(1.5) translateY(-16.5%);
  }
}
@keyframes scale-right {
  0% {
    transform: scale(1) translateX(0%);
  }
  100% {
    transform: scale(1.5) translateX(16.5%);
  }
}

.animated-footer{height: 20vh;}

.animated-footer:hover {
	background: linear-gradient(-45deg, #16007A, #5E007A, #7A0058, #7A0045);
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.button-footer{
  color: #3399FF;
}